clones/
.DS_Store
*.DS_Store
.vscode/
src/prep/__pycache__/
src/solves/__pycache__/
src/solves/out_darcy/
src/synthetic-vasculature-generation/__pycache__/
*.xdmf
*.bp
*.h5
*.msh
*.vtk
*.vtu
*.vtp
*.geo
.DS_Store
src/geometry/__pycache__/
src/geometry/_remesh_tmp/
src/geometry/_tmp_cut/
src/geometry/bioreactor_base.msh_.csv
src/geometry/bioreactor_base.msh__sf.obj
src/geometry/bioreactor_base.msh__tracked_surface.stl
src/geometry/branched_network_inlet.geo
src/geometry/branched_network_inlet_well1.geo
src/geometry/branched_network_outlet.geo
src/geometry/branched_network_outlet_well1.geo
src/synthetic-vasculature-generation/Forest_Output*
files/excel/~$channel-resistance-sv.xlsx
src/coupling-output/
src/coupling/__pycache__/
src/synthetic-vasculature-generation/tetgen-tmpfile_skipped.face
src/synthetic-vasculature-generation/tetgen-tmpfile_skipped.node
src/prep/coupled/
src/prep/prepped/
simvascular/u-bend-updated/
simvascular/u_bend/
src/coupling-output-full-geometry/