clones/
.DS_Store
*.DS_Store
.vscode/
src/prep/__pycache__/
src/solves/__pycache__/
src/solves/out_darcy/
src/synthetic-vasculature-generation/__pycache__/
*.xdmf
*.bp
*.h5
*.msh
*.vtk
*.vtu
*.vtp
*.geo
.DS_Store
src/geometry/__pycache__/
src/geometry/_remesh_tmp/
src/geometry/_tmp_cut/
src/geometry/bioreactor_base.msh_.csv
src/geometry/bioreactor_base.msh__sf.obj
src/geometry/bioreactor_base.msh__tracked_surface.stl
src/geometry/branched_network_inlet.geo
src/geometry/branched_network_inlet_well1.geo
src/geometry/branched_network_outlet.geo
src/geometry/branched_network_outlet_well1.geo
src/synthetic-vasculature-generation/Forest_Output*
files/excel/~$channel-resistance-sv.xlsx
src/coupling-output/
src/coupling/__pycache__/
src/synthetic-vasculature-generation/tetgen-tmpfile_skipped.face
src/synthetic-vasculature-generation/tetgen-tmpfile_skipped.node
src/prep/coupled/
src/prep/prepped/
simvascular/u-bend-updated/
simvascular/u_bend/
src/coupling-output-full-geometry/
ucsf/
*.avi
src/synthetic-vasculature-generation/0D_Output/
src/coupling-output-old/
src/coupling-output-masked/
src/coupling-output-no-synthetic/
src/coupling-output-no-vasc/
src/prep/coupled-no-vasc/
*.asv
coupling-output-transient/
*.pvd
files/stl/u-bend-geometry/expansion-both-ways.stl
files/stl/u-bend-geometry/expansion.stl
files/stl/u-bend-geometry/iterative-design/
files/stl/u-bend-geometry/stenosis-expansion-both-ways.stl
files/stl/u-bend-geometry/stenosis-expansion.stl
files/stl/u-bend-geometry/stenosis_0.06.stl
files/stl/u-bend-geometry/stenosis_0.075.stl
files/sv-3d-projection/drop.m
files/sv-3d-projection/rom-converted-results_0d/
files/sv-3d-projection/stenosis.m
simvascular/u-bend-moved-channel/Models/expansion-both-ways.mdl
simvascular/u-bend-moved-channel/Models/expansion.mdl
simvascular/u-bend-moved-channel/Models/stenosis-expansion-both-ways.mdl
simvascular/u-bend-moved-channel/Models/stenosis-expansion.mdl
simvascular/u-bend-moved-channel/Models/stenosis-full.mdl
simvascular/u-bend-moved-channel/Models/stenosis_0.075.mdl
simvascular/u-bend-moved-channel/Models/stenosis_0.mdl
simvascular/u-bend-moved-channel/Models/stenosis_06.mdl
simvascular/u-bend-moved-channel/ROMSimulations/expansion-both-ways.romsimjob
simvascular/u-bend-moved-channel/ROMSimulations/expansion-both-ways/
simvascular/u-bend-moved-channel/ROMSimulations/expansion.romsimjob
simvascular/u-bend-moved-channel/ROMSimulations/expansion/
simvascular/u-bend-moved-channel/ROMSimulations/rom/rom-converted-results_0d/reynolds.csv
simvascular/u-bend-moved-channel/ROMSimulations/rom/steady.flow
simvascular/u-bend-moved-channel/ROMSimulations/stenosis-expansion-1.romsimjob
simvascular/u-bend-moved-channel/ROMSimulations/stenosis-expansion-1/
simvascular/u-bend-moved-channel/ROMSimulations/stenosis-expansion-both-ways.romsimjob
simvascular/u-bend-moved-channel/ROMSimulations/stenosis-expansion-both-ways/
simvascular/u-bend-moved-channel/ROMSimulations/stenosis-full.romsimjob
simvascular/u-bend-moved-channel/ROMSimulations/stenosis-full/
simvascular/u-bend-moved-channel/ROMSimulations/stenosis_06.romsimjob
simvascular/u-bend-moved-channel/ROMSimulations/stenosis_06/
simvascular/u-bend-moved-channel/ROMSimulations/stenosis_75.romsimjob
simvascular/u-bend-moved-channel/ROMSimulations/stenosis_75/
simvascular/u-bend-moved-channel/Simulations/3d-sim-held-down.sjb
simvascular/u-bend-moved-channel/Simulations/expansion-both-ways.sjb
simvascular/u-bend-moved-channel/Simulations/expansion.sjb
simvascular/u-bend-moved-channel/Simulations/stenosis-expansion-both-ways.sjb
simvascular/u-bend-moved-channel/Simulations/stenosis-full.sjb
simvascular/u-bend-moved-channel/Simulations/stenosis_06.sjb
src/Run1_10branches/
src/current/
src/olds/
src/prep/scaled-screening-old/
src/prep/scaled-screening/
src/coupling-output-high/
src/coupling-output-low/
simvascular/final-paper/
simvascular/final-rom/
src/coupling-output-run-2-low/
src/coupling-output-run-2-very-low/
src/coupling-output-run-8-high/
src/coupling-output-run-8-low/
src/coupling-output-run-8-medium/
src/coupling-output-run-8-very-high/
src/coupling-output-no-vasc-scaled/
src/coupling-output-run-8-compare-low/
src/coupling-output-run-8-compare-medium/
src/coupling-output-run-8-hybrid-algebraic-ema-only/